.input_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    z-index: 1;
}
.input_1 input{
    text-align: center;
    font-size: 30px;
    width: 700px;
    height: 70px;
    margin-bottom: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
}
.input_1 [type ="text"]{
    transition: all .6s ease;
}
.input_1 button{
    width: 250px;
    height: 80px;
    border-radius: 30px;
    transition: all 0.4s ease;
    a{
        padding: 20px;
        text-decoration: none;
        color: rgb(22, 127, 94);
        font-size: 20px;
        font-weight: 600;
    }
}
.input_1 button:hover{
    transform: translateY(-10px);
    a{
        color: #00d0bf;
    }
}
input[type="text"]:hover::placeholder {
    transition: all .3s ease;
    color: #ff57dd;
}

.output{
    color: white;
    z-index: 1;
    margin: 0 -350px 600px 0;
}
.output p{
    font-size: 30px;
    background: linear-gradient(to right, #ff93ed, #ff4acc, #d9008d);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
}
.output{
    animation: blooming-flower 5s backwards;
}
.output p{
    animation: moving-flower-1 4s linear infinite;
}
.note{
    position: absolute;
    margin: 0px 0px 30px 1230px;
    font-size: 14px;
    color: #d9008d;
    z-index: 1;
}